body {
	margin: 0;
}

/*main {
	display: inline;
}*/

.left-section {
	background-color: #14141a;
	min-height: 100vh;
	width: 40%;
	float: left;
}

.right-section {
	background-color: #0c0c0c;
	min-height: 100vh;
	width: 60%;
	float: right;
}

.left-div {
	width: 50%;
	margin: 0 auto;
}

.left-div-logo {
	
}

.left-div-logo img {
	width: 300px;
}

.left-div-form label {
	color: #ffffff;
}

.left-div-form input {
	background-color: #000000;
	border: ridge;
	border-width: 0.5px;
	border-color: #707070;
	/*border-radius: 1px;*/
}